<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>


    <header id="masthead">
        <img src="https://et710.com/website/jm/ozoneparkimages/logo.png" class="logo" height="100" alt="Ozone Park logo">
        <h1>Ozone Park | The Community Hub</h1>
    </header>

    <nav id="navbar">
        <ul id="navbarul">
            <li><a class="active" href="https://et710.com/website/jm/">HOMEPAGE</a></li>
            <li><a href="#">SIGHTS</a>
                <ul>
                    <li><a href="https://et710.com/website/jm/sightsgeo.html">Geography/Location</a></li>
                    <li><a href="https://et710.com/website/jm/sightslandmarks.html">Landmarks</a></li>
                    <li><a href="https://et710.com/website/jm/activities.html">Activities</a></li>
                </ul>
            </li>
            <li><a href="#">COMMUNITY</a>
                <ul>
                    <li><a href="https://et710.com/website/jm/housing.html">Housing</a></li>
                    <li><a href="https://et710.com/website/jm/demog.html">Demographic</a></li>
                </ul>
            </li>
            <li><a href="#">PLACES</a>
                <ul>
                    <li><a href="https://et710.com/website/jm/parks.html">Parks</a></li>
                    <li><a href="https://et710.com/website/jm/schools.html">Schools</a></li>
                    <li><a href="https://et710.com/website/jm/shopdin.html">Shopping & Dining</a></li>
                </ul>
            </li>
            <li><a href="https://et710.com/website/jm/transpo.html">TRANSPORTATION</a></li>
            <li><a href="https://et710.com/website/jm/contact.html">CONTACT US</a></li>
        </ul>
    </nav>

    <main id="container">
        <hr class="fornav">
        <div class="content">
            <article id="briefhistory">
                <h2>Name Origin</h2>
                <p>How did Ozone Park get its name? Well, when you think of the word Ozone, what might come to mind is the gas that makes up part of Earth's atmosphere. It consists of ground-level pollutants such as smog and industrial waste. So why place a word like Park next to it?</p>
                <p>When Ozone gas was first identified in 1840, no one really understood its harmful effects. People associated the word with clean, fresh air. The word became popular as people began advertising beaches and properties using the word "Ozone". So naming a neighborhood "Ozone Park", was to bring attention to the pleasant environment. Such a description drew families in.</p>
                <p><i>This image of a cigarette card read, "Ozone is present in the air at the sea-side."</i></p>
                <img src="https://et710.com/website/jm/ozoneparkimages/125.jpg" width="600" alt="Card Promoting Ozone" class="img1">
                
                <h2>More History</h2>
                <p>Ozone Park, a middle-class neighborhood in Queens, is located in the southwestern section of its borough. It is located in the Sixth congressional district.</p>
                
                <p id="leftp">It was founded in the 1840s, centered around an area known as Centreville Street and the Centreville Community Church. During the 1870s, there was an economic depression that caused New York City residents to look for better housing. In 1880, the New York service began on the <a href="#">Montauk Branch</a> and the <a href="#">Rockaway Beach Branch</a> from Long Island to Howard Beach in Queens. The Rockaway Beach Branch's Ozone Park station opened in 1883. Because of the name "Ozone", which promised clean air and no disease, people were drawn in. Ozone Park was called the "Harlem of Brooklyn" since Queens had not yet existed and Harlem was a thriving, bright Jewish-Italian neighborhood.</p>
                
                <img class="image2" src="https://et710.com/website/jm/ozoneparkimages/1ba97dd6a5a7311583dcf99286308e17.jpg" width="350" alt="Image of Ozone Park">
            </article>

            <aside>
                <table id="panel">
                    <tr>
                        <td>
                            <div id="welcome">
                                <h2>Welcome</h2>
                                <p>Welcome to Ozone Park! With a friendly community, along with a safe, clean environment, you are sure to feel right at home!</p>
                                <img src="https://et710.com/website/jm/ozoneparkimages/neighborhoods_queens_ozone_park_300x300.jpg" alt="Welcome to Ozone Park!" width="200">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="navigatepage">
                                <h2>Where To Find...</h2>
                                <h3>Looking for something in particular?</h3>
                                <p>Points of Interest:<br><a href="https://et710.com/website/jm/activities.html">Check our "Activities Page"</a><br>Community Status:<br><a href="https://et710.com/website/jm/demog.html">Check our "Demographics Page"</a><br>Thinking of moving in?<br> <a href="https://et710.com/website/jm/housing.html">Check our "Housing Page"</a></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="funfacttab">
                                <h2>Fun Fact About Ozone Park!😀</h2>
                                <h3>Ozone Park has served as the setting and the subject for several media works. Some are listed below. See if you recognize any of these!</h3>
                                <ol>
                                    <li><b><i>A Bronx Tale</i></b><img src="https://et710.com/website/jm/ozoneparkimages/abronxtale.jpg" width="150" alt="A Bronx Tale movie poster"></li>
                                    <li><b><i>The King of Queens</i></b><img src="https://et710.com/website/jm/ozoneparkimages/thekingofqueens.jpg" width="150" alt="The King of Queens TV show poster"></li>
                                    <li><b><i>The Sopranos</i></b><img src="https://et710.com/website/jm/ozoneparkimages/thesopranos.jpg" width="150" alt="The Sopranos TV show poster"></li>
                                </ol>
                            </div>
                        </td>
                    </tr>
                </table>
            </aside>
        </div>
    </main>

    <footer id="footer">
        <p>Copyright © 2024 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a></p>
    </footer>

    <script src="https://et710.com/website/jm/js.js"></script>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->